.bsInt {
  display: grid;
  outline: 1px solid black;
  grid-template-columns: repeat(10, 28px);
  grid-template-rows: repeat(21, 28px);
  align-items: center;
  text-align: center;
}

.bsInt div {
  display: flex;
  word-break: break-word;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: x-small;
}

._td {
  border-width: 1px;
  border-top-style: dashed;
  border-top-color: lightgrey;
}
._bd {
  border-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: lightgrey;
}
._ld {
  border-width: 1px;
  border-left-style: dashed;
  border-left-color: lightgrey;
}
._rd {
  border-width: 1px;
  border-right-style: dashed;
  border-right-color: lightgrey;
}
._ts {
  border-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}
._bs {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
._ls {
  border-width: 1px;
  border-left-style: solid;
  border-left-color: black;
}
._rs {
  border-width: 1px;
  border-right-style: solid;
  border-right-color: black;
} 
