.sheet {
  display: flex;
}

.ac_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  font-size: x-small;
}
.modal .ac_container {
  font-size: large;
}

.section {
  width: 28%;
  margin: 5px;
}

.section_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ac_item {
  aspect-ratio: 1;
  border: 1px solid black;
}

.dmgNormal {
  background-color: #B1FAFF;
}

.dmgSpinal {
  background-color: #FFB6B1;
}

.dip {
  margin-top: 15px;
}

.dmgInactive {
  filter: brightness(0.6);
}

.label {
  text-align: center;
}

.track {
  margin-top: 10px;
  border-collapse: collapse;
  width: 80%;
}

.track th {
  text-align: left;
  border-bottom: 1px solid black;
}

.track th:not(:first-of-type) {
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.track_x {
  width: 6%;
  text-align: center;
}

.track td {
  border: 1px solid black;
}

.content_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.internal_title {
  text-align: center;
}

.shieldContainer {
  display: flex;
}

.shieldCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shieldLabel {
  font-weight: bold;
  margin: 20px 10px;
}

.shieldSides {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shieldInput {
  aspect-ratio: 1 / 1;
  text-align: center;
  width: 20px;
}

th.thrustTable {
  text-align: left;
  margin-right: 20px;
}

td.thrustTable {
  text-align: center;
}

.thrustTitle {
  text-align: center;
  padding: 0px 20px;
}

.miSh {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
}

.miSh div {
  margin: 0px 10px;
  outline: 1px solid black;
  border-radius: 4px;
  width: 30px;
  aspect-ratio: 1 / 1;
}
