.weapons_table {
  font-size: 0.65rem;
}

.weapons_table th {
  text-align: left;
}

.weapons_table th:not(:first-child) {
  text-align: center;
}

.weapons_table th {
  padding: 2px;
}

.weapons_table td {
  text-align: center;
  padding: 2px;
}
